@font-face {
	font-family: 'Px Plus IBM VGA 8x16';
	src: url('https://ryanries.github.io/PxPlus_IBM_VGA_8x16.ttf') format('truetype');
}

html, body {
	background-color: #282C34;
	font-family: 'Px Plus IBM VGA 8x16';
	font-size: 16px;
	color: #DDDDDD;
}



.upper-text-content {
	padding-right: 370px; /* So that the text does not run under the 350px profile photo. */
}

.profile-photo {
    width: 350px;         /* You can adjust this to your desired size */
    height: 350px;        /* Make sure this is the same as the width to keep the circle aspect */
	float: right;
    border-radius: 50%;   /* This makes the photo circular */
    position: absolute;   /* This allows you to position it anywhere on the page */
    top: 10px;            /* Distance from the top */
    right: 10px;          /* Distance from the right */
    object-fit: cover;    /* Ensures that the image covers the entire element without being stretched */
}

footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    width: 100%; /* Optional: You can set this to ensure the footer takes full width */    
    text-align: left;
    padding: 10px 0; /* Optional: Some padding for aesthetics */
}

h1 {
	font-size: 32px;
	margin-bottom: 5px;
}

h1 + p {
	margin-top: 5px;
}

.discussion-box {
	background-color: #333; /* Dark background */
	border: 2px solid #fff; /* White border */
	border-radius: 10px; /* Rounded corners */
	padding: 15px; /* Space inside the box */
	color: #fff; /* White text color */
	max-width: 80%; /* Optional: Set a max width for the box */
	margin-left: 20px; 
}

pre {
	background-color: #333; /* Dark background */
	border: 2px solid #fff; /* White border */
	border-radius: 10px; /* Rounded corners */
	padding: 15px; /* Space inside the box */
	color: #fff; /* White text color */
	max-width: 80%; /* Optional: Set a max width for the box */
	margin-left: 20px;
	white-space: pre-wrap;
}