@font-face {
	font-family: 'Px Plus IBM VGA 8x16';
	src: url('https://ryanries.github.io/PxPlus_IBM_VGA_8x16.ttf') format('truetype');
}

html, body {
	background-color: #282C34;
	font-family: 'Px Plus IBM VGA 8x16';
	color: #DDDDDD;
}

a:link {
	color: #282C34;
	background-color: #DDDDDD;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

a:visited {
	color: #282C34;
	background-color: #DDDDDD;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

a:hover {
	color: #DDDDDD;
	background-color: #282C34;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

a:active {
	color: #DDDDDD;
	background-color: #282C34;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}
